h3{
    color: rgb(0, 255, 247);
}
h2{
    color: rgb(0, 255, 247);
}
h1{
    color: rgb(0, 255, 247);
}
body{
    background-color: rgb(255,105,180);
}
li{
    color: rgb(255,255,0);
}
td{
    color: rgb(255,255,0);
}
th{
    color: rgb(0, 255, 247);
}